mixin streamEntry(entry)
    div(class="h-entry")
        div(class="blog-post")
            if entry.isArticle()
                h2(class="blog-post-title p-name")
                    a(href=entry.url)= entry.name
            - var hideAuthor = false;
            include ./meta
            if entry.summary !== null
                div(class="p-summary")= entry.summary
                a(href=entry.url) More...
            else
                - var contentClass = "e-content" + (entry.isArticle() ? '' : ' p-name');
                div(class=contentClass)!= util.sanitize(entry.content.html)
            include ./citeactions
